@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/* font-family: 'Pangolin', cursive; */
.service-box {
  margin-top: 90px;
  text-align: center;
}
.events-box {
  text-align: center;
  transition: ease 1s;
  /* background: rgb(37, 217, 205); */
  padding-bottom: 20px;
  position: relative;
  margin-top: 20px;
}
.main-info-service {
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  text-align: center;
  padding: 40px;
  color: white;
  background: -webkit-linear-gradient(left, black, gray);
}
.controll-events {
  width: 100%;
  margin: 0px auto;
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
  /* background: rgb(165, 213, 205); */
}
.controll-events__button {
  /* background: linear-gradient(to right, rgb(26, 230, 16), 80%, rgb(26, 228, 161)); */
  border: none;
  background: rgb(230, 150, 2);
  padding: 12px 20px;
  border-radius: 5px;
  margin: 0 5px;
  color: white;
  transition: ease .5s;
  cursor: pointer;
}
.controll-events__button:hover {
  box-shadow: 3px 3px 10px 1px black;
}
.controll-events__button:disabled {
  background: gray;
  box-shadow: none;
  cursor: default;
}
.service-title {
  color: rgb(198, 128, 52);
  font-family: 'Pangolin', cursive;
  margin: 10px auto;
}
/* .service-title {
  margin-top: 30px;
} */