.mail-body {
  margin: 0 auto;
  text-align: center;
  /* background: -webkit-linear-gradient(top, rgb(9, 152, 241), rgb(100, 172, 192)); */
  border-radius: 15px;
  padding: 10px 0;
}
.mail-form {
  margin: 0 auto;
}
.input-mail {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background: none !important;
  color: white;
  font-weight: 100;
  font-family: Arial, sans-serif;
}
.input-mail::placeholder {
  opacity: .6;
}
.input-mail::placeholder {
  color: white;
}
.messege {
  height: 200px;
}
.mail-title {
  color: white;
  opacity: .9;
  font-weight: lighter;
  font-family: Arial,sans-serif;
}
.box-mail-input {
  padding: 10px 20px ;
  width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid white;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px white;
}
.mail-button {
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  background: rgb(45, 202, 45);
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: ease 1s;
  border-radius: 10px;
  box-shadow: 3px 3px 10px white;
}
.mail-button:hover {
  transform: scale(.9);
  transition: ease .5;
  box-shadow: 3px 3px 5px white;
}