.modal {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: black;
  opacity: 0;
  overflow: hidden;
  z-index: 99;
  transition: var(overflow visibility opacity) ease .5s;
  visibility: hidden;
}
.modal.open {
  overflow: visible;
  opacity: .7;
  visibility: visible;
  transition: var(overflow visibility opacity) ease .5s;
}
.modal-box {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  overflow: hidden;
  z-index: 99;
  visibility: hidden;
}
.modal-box.open {
  overflow: visible;
  opacity: 1;
  visibility: visible;
}
.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  /* margin: 0 auto; */
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background: white !important;
  overflow: hidden;
  visibility: hidden;
  z-index: 100;
  opacity: 0;
}
.modal-body.contacts {
  max-width: 500px;
}
.modal-body.gallery-modal {
  max-width: 800px;
  transition: none;
}
.modal-body.yandex {
  max-width: 800px;
  padding: 35px;
  transition: var(overflow visibility opacity);
}
.modal-body.mail {
  max-width: 400px;
  padding: 35px;
  transition: var(overflow visibility opacity);
}

.modal-body.open {
  opacity: 1;
  overflow: visible;
  visibility: visible;
  transition: var(overflow visibility opacity) ease 2s;
}
.close {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 10px;
  margin: 0 !important;
  /* width: 20px !important; */
}
.close.contacts {
  /* top: 10;
  right: 10; */
}
.close.gallery-modal {
  width: 24px;
  color: white;
  top: 20px;
  right: 20px;
}

@media (max-width: 800px) {
  .modal-body.gallery-modal {
    max-width: 500px;
  }
  .modal-body.yandex {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .modal-body.contacts {
    max-width: 400px;
  }
  .modal-body.yandex {
    max-width: 400px;
  }
  .modal-body.gallery-modal {
    max-width: 350px;
  }
}