.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../../assets/preloader.gif') no-repeat center;
  background-size: cover;
  /* background: url('../../assets/25.gif') no-repeat center; */
  min-width: 500px;
  min-height: 500px;
  margin: 0 auto;
}