.footer {
  /* background: -webkit-linear-gradient(left, orange, rgb(234, 248, 250), orange); */
  background: black;
  padding: 15px 0;
  position: absolute;
  width: 100%;
  color: white !important;
};

.icon-horse:hover {
  transform: scale(1.3);
  transition: ease-in 1s;
}
.icon-horse.active {
  /* transform: scale(1.4); */
}

/* @media (max-width: 1920px) and (min-width: 1105px) {
  .footer {
    position: relative;
  }
} */