.event-list {
  display: flex;
  flex-wrap: wrap;
  /* width: 90%; */
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 40px;
  list-style: none;
}
.empty-text {
  font-size: 15px;
  opacity: .7;
  margin-top: 15px;
}