.box-info {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin-top: 40px;
}
.title-opp {
  color: rgb(21, 51, 70);
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  margin-bottom: 40px;
}
.trunk {
  left: 50%;
  top: 40px;
  width: 870px;
  height: 400px;
  background: rgb(223, 217, 203);
  border-left: 3px solid black;
  border-right: 3px solid white;
  transform: translateX(-50%);
  position: absolute;
}
.main-left {
  background: -webkit-linear-gradient(right, orange, rgb(250, 221, 165));
  width: 498px;
  font-size: 28.5px;
  position: relative;
  left: 0px;
  padding: 20px;
  text-align: right;
  margin-bottom: 30px;
  transition: ease 1s;
  cursor: default;
}
.main-left:hover {
  width: 600px;
  transition: ease 1s;
}
.main-left:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  right: -40px;
  border-top: 36.5px solid transparent;
  border-left: 40px solid orange;
  border-bottom: 36.5px solid transparent;
}
.main-left::before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: -30px;
  left: -0px;
  border-bottom: 30px solid rgb(21, 51, 70);
  opacity: 1;
  border-left: 60px solid transparent;
}
.main-right {
  background: -webkit-linear-gradient(right, rgb(250, 221, 165), orange);
  width: 498px;
  font-size: 28.5px;
  position: absolute;
  right: 0px;
  padding: 20px;
  margin-bottom: 30px;
  transition: ease 1s;
}
.main-right:hover {
  width: 608px;
  transition: ease 1s;
}
.main-right:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: -40px;
  border-top: 36.5px solid transparent;
  border-right: 40px solid orange;
  border-bottom: 36.5px solid transparent;
}
.main-right::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: -30px;
  right: 0px;
  border-bottom: 30px solid rgb(21, 51, 70);
  border-right: 60px solid transparent;
  opacity: 1;
  z-index: -1;
}
.box {
  height: 100px;
}

@media (max-width: 1050px) {
  .trunk {
    width: 90%;
    display: none;
  }
  .main-left {
    background: -webkit-linear-gradient(right, orange, rgb(250, 221, 165));
    width: 300px;
    font-size: 18px;
  }
  .main-left:hover {
    width: 330px;
    transition: ease 1s;
  }
  .main-left:after {
    border-top: 30px solid transparent;
    border-left: 40px solid orange;
    border-bottom: 30.5px solid transparent;
  }
  .main-left::before {
    border-bottom: 0 solid rgb(21, 51, 70);
    border-left: 0 solid transparent;
  }
  .main-right {
    background: -webkit-linear-gradient(right, rgb(250, 221, 165), orange);
    width: 300px;
    font-size: 18px;
  }
  .main-right:hover {
    width: 330px;
    transition: ease 1s;
  }
  .main-right:before {
    border-top: 30px solid transparent;
    border-right: 40px solid orange;
    border-bottom: 30.5px solid transparent;
  }
  .main-right::after {
    border-bottom: 0;
    border-right: 0;
  }
  .box {
    height: 100px;
  }
}